html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.content {
    flex-grow: 1;
}

nav {
    background-color: #117da8;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: medium;
}

.nav_link {
    font-size: 19px;
    text-decoration: none;
    color: #fff;
}

.navItem a {
    margin-right: 20px;
}

.nav_link:hover {
    color: #d9d9d9;
}

.phishieldlogo {
    width: 80px;
    height: auto;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
}

header h1 {
    font-size: 3.5em;
    color: #117da8;
    margin-bottom: 20px;
}

button {
    background-image: linear-gradient(144deg, #0d5b7d, #117da8 50%, #33a8d1);
    border: 0;
    border-radius: 16px;
    box-shadow: rgba(10, 77, 102, 0.5) 0 15px 30px -5px;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 25px;
    line-height: 2em;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 20px;
}

button:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

#passwordDisplay {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #117da8;
}

.footerLeft {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    width: 90%;
}

.fMenuTitle {
    font-size: 25px;
    color: white;
}

.fIcons {
    display: flex;
    color: white;
}

.fIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: white;
}

.copyright {
    font-weight: 300;
    font-size: 14px;
    color: white;
}
