<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email.css') }}">
    <title>Email Detection</title>
</head>
<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="mm" class="phishieldlogo">
            </div>
            <div class="navItem">
                <a href="{{ url_for('home') }}" class="nav_link">Home</a>
                <a href="{{ url_for('services') }}" class="nav_link">Services</a>
                <a href="{{ url_for('contact_us') }}" class="nav_link">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="mo">Email Detection</h1>
        <form action="{{ url_for('detect') }}" method="post">
            <textarea id="textarea" name="textarea" rows="6" cols="50" placeholder="Enter your Email content (message) here"></textarea>
            <button id="Check" class="button" role="button" type="submit">Check</button>
        </form>
        {% if result %}
        <h2 class="result">The email is: {{ result }}</h2>
        {% endif %}
    </div>
    <footer>
        <div class="footerLeft">
            <div class="footerMenu"></div>
            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Follow Us</h1>
                <div class="fIcons">
                    <a href="https://www.facebook.com">
                        <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://x.com">
                        <img src="{{ url_for('static', filename='images/X.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://www.instagram.com">
                        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://web.whatsapp.com">
                        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="" class="fIcon">
                    </a>
                </div>
                <div class="footerRightMenu">
                    <span class="copyright">@phishield.com</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
