<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>phishield</title>
</head>

<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="" class="phishieldlogo">
            </div>

            <div class="navItem">
                <a href="{{ url_for('home') }}" class="nav_link">Home</a>
                <a href="{{ url_for('services') }}" class="nav_link">Services</a>
                <a href="{{ url_for('contact_us') }}" class="nav_link">Contact</a>
            </div>
        </div>
    </nav>


    <div class="image_container">
        <img src="{{ url_for('static', filename='images/111.png') }}" alt="Centered Image">
    </div>

    <div class="define">
        <h1>This application targets to make a safe cyber world and save everyone from falling in the phishing trap.</h1>
    </div>

    <div class="main-content">
        <img src="{{ url_for('static', filename='images/Enter your Email here.gif') }}" alt="" class="emailGif">
        <a href="{{ url_for('email_detection') }}"><button class="button-email" role="button">Email Detection</button></a>
        <a href="{{ url_for('url_detection') }}"><button id="action" class="button-url" role="button">URL Detection</button></a>
        <img src="{{ url_for('static', filename='images/Enter your URL here.gif') }}" alt="" class="urlGif">
    </div>

    <footer>
        <div class="footerLeft">
            <div class="footerMenu">

            </div>

            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Follow Us</h1>
                <div class="fIcons">
                    <a href="https://www.facebook.com">
                        <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://x.com">
                        <img src="{{ url_for('static', filename='images/X.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://www.instagram.com">
                        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://web.whatsapp.com">
                        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="" class="fIcon">
                    </a>
                </div>
                <div class="footerRightMenu">
                    <span class="copyright">@phishield.com</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
