<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/passwordgenerator.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="" class="phishieldlogo">
            </div>
            <div class="navItem">
                <a href="{{ url_for('home') }}" class="nav_link">Home</a>
                <a href="{{ url_for('services') }}" class="nav_link">Services</a>
                <a href="{{ url_for('contact_us') }}" class="nav_link">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <header>
            <h1>Strong Password Generator</h1>
        </header>
        <section>
            <form method="POST">
                <button type="submit">Generate Password</button>
            </form>
            <p id="passwordDisplay">{{ password }}</p>
        </section>
    </div>

    <footer>
        <div class="footerLeft">
            <div class="footerMenu"></div>
            <div class="footerRightMenu">
                <h1 class="fMenuTitle">Follow Us</h1>
                <div class="fIcons">
                    <a href="https://www.facebook.com">
                        <img src="{{ url_for('static', filename='images/facebook.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://x.com">
                        <img src="{{ url_for('static', filename='images/X.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://www.instagram.com">
                        <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="" class="fIcon">
                    </a>
                    <a href="https://web.whatsapp.com">
                        <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="" class="fIcon">
                    </a>
                </div>
                <div class="footerRightMenu">
                    <span class="copyright">@phishield.com</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
